img {
  max-width: 100%;
  height: auto;
}

.App {
  display: flex;
  flex-direction: column;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.tab-container {
  text-align: center;
}


/* show container  */
.show-container {
  display: flex;
  margin-bottom: 1rem;
}

.show-poster {
  flex: 0 0 30%;
}

.show-details {
  padding-left: 5vw;
  padding-right: 5vw;
}


.form-control {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pagination-bar {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
