* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}

.App {
  display: flex;
  flex-direction: column;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.tab-container {
  text-align: center;
  max-width: 1000px;
  width: 100%;
  min-height: 60vh;
  align-self: center;
  margin-bottom: 4rem;
  border: 1px solid rgb(143, 142, 142);
}

.header-form {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* show container  */
.show-container {
  display: flex;
  margin-bottom: 2rem;
  border-radius: .5rem;
  box-shadow: 0px 1px 4px 0px #dddddd;
}

.show-poster img {
  display: block;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  text-align: left;
}

.show-poster {
  flex: 0 0 30%;
}

.show-details {
  padding-left: 5vw;
  padding-right: 5vw;
}


.form-control {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pagination-bar {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
